<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <img th:src="@{${book.bookImg}}">
</div>
<div>
    <div>
        <h1 th:text="${book.bookName}"></h1>
        <p th:text="${book.bookAuthor}"></p>
    </div>
    <div>
        <p>
            <font style="color: #0066FF"></font>
        <p th:text="${book.bookIntroduction}"></p>

        </p>
    </div>
</div>
<div>
    <div>
        <dl>
            <dd th:each="book_mulv:${book_mulv}">
                <a th:href="@{/tobook_text(bookId=${book.bookId},bookmulvId=${book_mulv.bookId})}" th:text="${book_mulv.bookDirectory}"></a>
            </dd>
        </dl>
    </div>
</div>

</body>
</html>